	<div class="link-group">
	  <header>
	    <h3 class="group-title"><%= title %></h3>
	  </header>
	  <div class="group-body">
	  	<% items.each do |link| %>
		  	<p class="link-view">
			  	<%= link_to link.title, link.url %>
			  	<small>
			  		<%= link.formatted_date %>
			  		<%= content_tag :em do %>
			  			· from <%= link.service.to_s.titleize %>
			  		<% end if (defined?(show_service) and show_service) %>
			  	</small>
			  </p>
		  <% end %>
	  </div>
	</div>
