<div class="row">
	<h4 class="col-md-6">
		<%= @service.name %>
		<small>· <%= link_to "Sign out of #{@service.name}", log_out_service_path(@service) %></small>
	</h4>
	<%= form_for @service, url: service_path(@service), method: :post, as: :list_options, html: { class: "pull-right form-inline" } do |f| -%>
		<div class="form-group">
			<%= f.select :folder, options_for_select(@service.available_folders, @service.folder), {}, class: "form-control input-sm " %>
		</div>
		<%= f.submit "Choose folder", class: "btn btn-primary input-sm" %>
	<% end if @service.respond_to? :available_folders -%>
</div>

<%= render partial: "random", object: @random 			if @random %>
<%= render partial: "years_ago", object: @years_ago if !@years_ago.blank? %>

<% if @bookmarks and @bookmarks.count > 0 %>
	<table class="table table-striped table-bordered table-condensed table-responsive">
		<thead>	
			<th class="">Title</th>
			<th class="">Date read</th>
		</thead>
		<% @bookmarks.each do |link| %>
			<tr>
				<td><%= link_to link.title, link.url %></td>
				<td><%= link.formatted_date %></td>
			</tr>
		<% end %>
	</table>
<% end %>
