<!DOCTYPE html>
<html>
<head>
  <title>Relecture</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<header class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Relecture</a>
		</div>
	</div>
</header>

<div class="container">
	<%= render partial: "alerts" %>

	<%= yield %>
</div>

</body>
</html>
